<!DOCTYPE html>
<%- include('../common/head') %>
<header>
  <%- include('../common/nav') %>
</header>
  

<script src="../../scripts/login.js"></script>
<body onload="checkCookie()"> 
    <!--Dark Theme-->
    <button onclick="toggleDark()">
        <svg aria-hidden="true" data-prefix="fas" data-icon="moon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512" style="height: 2rem; width: 2rem;" class="svg-inline--fa fa-moon">
          <path fill="currentColor"
            d="M32 256C32 132.2 132.3 32 255.8 32c11.36 0 29.7 1.668 40.9 3.746 9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3 9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480 132.1 480 32 379.6 32 256z">
          </path>
        </svg></button>
      <script type="text/javascript" src="toggleDark.js"></script>

    <table id="forusers">
        <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
    
       </tr>

      

      
    
        <% users.forEach(function(user){ %>

<% if (user.name == proname) { %>
    
        
        <tr>
            <form action="/edit" method="POST">
                <td><%= user.name %> 
                 <div> 
                    <input type="text" name="id" value="<%=user.name%>" hidden> 
                    <input type="text" name="name" value="<%=user.name%>" onchange="this.form.submit()"><p></p>
                    </div>
                </td>
                <td><%= user.email %> 
                    <div> 
    
                        <input type="text" name="email" value="<%=user.email%>" onchange="this.form.submit()"><p></p>
                        </div>
                </td>
                <td>
                    <input type="button" value="Edit">
                </td>
                </form>
                <td><form action="/delete" method="POST">
    <div id="user"> <input type="checkbox" name="checkbox" value="<%=user.name%>" onchange="this.form.submit()"><p>Remove</p></div>
                </form></td>
                <% } %>
                <% }); %>
    
         
    
        </tr>
    
    
    </table>


</body>


<footer>
    <%- include('../common/footer') %>
  </footer>

</html>